<%= form_for @artist do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :instrument %>
    <%= f.collection_check_boxes :instrument_ids, Instrument.all, :id, :name%>
  </div>
  <div class="submit">
    <%= f.submit %>
  </div>
<% end %>
